/* 
    Created on : 28-may-2015, 19:33:05
    Author     : adrian
*/
#searherContainer{
    text-align: center;
}
#container{
    margin-top: 150px;
}
#logo1{
    height: 135px;
}
.alert{
    position:relative;
    top:20px;
    display:none;
}
.form-control:focus {
    border-color: rgb(86, 7, 205);
}
#helpIcon{
    cursor: pointer;
    top: 65px;
    font-size: 25px;
}
#helpIcon:hover{
    color:rgb(86, 7, 205);
}
@media (max-width: 500px){
    #logo1{
    height: 110px;
    }
}
#helpIcon {
  top: 40px;
}
.title{
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color:#5607cd;
}
.theme{
  margin-top: 10px;
  border:solid 1px #5607cd;
  padding: 10px;
  border-radius: 13px;
}
em{
    font-weight:bold;
    font-size: 15px;
}
a{
    cursor:pointer;
}
#completeTitle{
    font-size: 25px;
    color:#5607cd;
    text-align:center;
}
hr{
    border-top: 1px solid #5607cd !important;
}
#completeResult{
    margin-left: 35px;
}
#completeText{
    font-size: 16px;
}
#arrowBack{
    top: 20px;
  color: #5607cd;
  font-size: 20px;
  margin-bottom:30px;
}
#textCopyRight{
    text-align: center;
  position: relative;
  top: 100px;
  color: #5607cd;
}
.row {
   margin-right: 0px;
   margin-left: 0px; 
}
