/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-may-2015, 19:33:05
    Author     : adrian
*/
#searherContainer{
    text-align: center;
}
#container{
    margin-top: 150px;
}
#logo1{
    height: 135px;
}
.alert{
    position:relative;
    top:20px;
    display:none;
}
.form-control:focus {
    border-color: rgb(86, 7, 205);
}
#helpIcon{
    cursor: pointer;
    top: 65px;
    font-size: 25px;
}
#helpIcon:hover{
    color:rgb(86, 7, 205);
}
@media (max-width: 500px){
    #logo1{
    height: 110px;
    }
}
#helpIcon {
  top: 40px;
}
.title{
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.theme{
  margin-top: 10px;
  border:solid 1px grey;
  padding: 10px;
}

